VK_TOKEN=vk1.a.DZUTWGPCNqVej8wWHkTvk4VF39yVltL0wDbTeVwcz3CZVUgYhZ_BWZR4mnm--AZCCpflWFHBTbm3wAm2iE0ae7uuZ846lZ19SKWEwtwHUpQRc_3bE12DsDEdJdOMOx7KlvOtgmeHMbp0mCgLNzPd2H4vJx9JapVIkVSyqZ_VX6HHjpo1gofATBHT3MJNZGHPldrcbsR35QI8NOzh40fFbQ
VK_GROUP_ID=197020757